
/* ----- Backgrounds ----- */
html {
	background-image: none;
	background-color: #FFFFFF;
}

html.embed {
	background-color: #FFFFFF;
}

body {
	margin: 17px 0 15px 0;
	padding: 0;
	font-family: verdana, arial, sans-serif;
	font-size: 80%;
	background-color: rgb(255, 255, 255);
} /*Font-size: 1.0em = 10px when browser default size is 16px*/

.header {
	width: 700px;
	height: 126px;
	font-family: "trebuchet ms", arial, sans-serif;
}

.header-top {
	width: 700px;
	height: 126px;
	/* background: rgb(88, 89, 91); */
	display: inline-block;
	overflow: visible !important /*Firefox*/;
	overflow: hidden /*IE6*/;
	white-space: nowrap;
}



#container, #containerRespuesta, #containerCambioDatos, #containerCambioPassword, #containerCambioTarjeta {
	width: 700px;
	text-align: left;
	background: #fff;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid 1px rgb(150, 150, 150);
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px
}

#containerPago {
	display: inline-block;
	width: 93%;
	height: 100%;
	text-align: left;
	background: #fff;
	margin: 20px 20px 20px 20px;
}

.mobilecardPago {
	display: inline; /*Fix IE floating margin bug*/;
	float: left;
	width: 90%;
	margin: 0 25px 0 25px;
	position: relative;
}

.outerdiv {border-radius: 11px;-moz-border-radius: 11px;-webkit-border-radius: 11px;border: 3px solid #cccccc;background-color:#bbb;}

.blockdiv{
	border: 0px;
	/* opacity: 0.6;
	background-color: #000; */
}

#container1, #container2, #container3  {
	width: 700px;
	text-align: left;
	background: #fff;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;
	/*border: solid 1px rgb(150, 150, 150);
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px*/
}

.mobilecard {
	display: inline; /*Fix IE floating margin bug*/;
	float: left;
	width: 85%;
	margin: 0 20px 0 20px;
	position: relative;
}



.conteiner1, conteiner2, conteiner3 {
	display: inline; /*Fix IE floating margin bug*/;
	float: left;
	width: 650px;
	margin: 0 0 0 20px;
	position: relative;
}

.main-content {
	display: inline; /*Fix IE floating margin bug*/;
	float: left;
	width: 650px;
	margin: 0 0 0 30px;
	overflow: visible !important /*Firefox*/;
	overflow: hidden /*IE6*/;
}



.main-content table {
	clear: both;
	width: 100%;
	margin: 0 0 0 0;
	table-layout: fixed;
	border-collapse: collapse;
	empty-cells: show;
	background-color: rgb(233, 232, 244);
	text-align: justify;
}
.main-content table td {
	height: 2.5em;
	padding: 2px 5px 2px 5px;
	border-left: solid 2px rgb(255, 255, 255);
	border-right: solid 2px rgb(255, 255, 255);
	border-top: solid 2px rgb(255, 255, 255);
	border-bottom: solid 2px rgb(255, 255, 255);
	background-color: rgb(225, 225, 225);
	text-align: left;
	font-weight: normal;
	color: #000000	;
	font-size: 11px;
}

.main-content table th {
	height: 2.5em;
	padding: 2px 5px 2px 5px;
	border-left: solid 2px rgb(255, 255, 255);
	border-right: solid 2px rgb(255, 255, 255);
	border-top: solid 2px rgb(255, 255, 255);
	border-bottom: solid 2px rgb(255, 255, 255);
	background-color: rgb(225, 225, 225);
	text-align: center;
	font-weight: bold;
	color: #000000	;
	font-size: 12px;
}



img,a img {
	border: none;
	-ms-interpolation-mode: bicubic
}

.hide,.cloak div,.cloak span,.likert.cloak tbody,.likert.cloak thead {
	display: none !important
}

.likert.cloak table {
	border: none
}

.safari .mobilecard input.file {
	background: none;
	border: none;
}

.mobilecard li.focused {
	background-color: #FFF7C0;
}

.mobilecard .instruct {
	background-color: #F5F5F5;
}

/* ----- Borders ----- */
#container, #containerRespuesta, #containerCambioDatos, #containerCambioPassword, #containerCambioTarjeta {
	border: 0 solid #cccccc;
}

.mobilecard .info,.mobilecard .paging-context {
	border-bottom: 1px solid  #CCCCCC;
}

.infoRight {
	border-right: 2px solid  #CCCCCC;
}

.mobilecard .section h3,.mobilecard .captcha,#payment .paging-context {
	border-top: 1px dotted #CCCCCC;
}

.mobilecard input.text,.mobilecard textarea.textarea {
	
}

.mobilecard .instruct {
	border: 1px solid #E6E6E6;
}

.fixed .info {
	border-bottom: none;
}

.mobilecard li.section.scrollText {
	border-color: #dedede;
}

/* ----- Typography ----- */
.mobilecard .info h2 {
	font-size: 160%;
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	color: #000000;
}

.mobilecard .info div {
	font-size: 95%;
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	color: #444444;
}

.mobilecard .section h3 {
	font-size: 110%;
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	color: #000000;
}

.mobilecard .section div {
	font-size: 85%;
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	color: #444444;
}

.mobilecard label.desc, .mobilecard legend.desc {
	font-size: 95%;
	font-family: inherit;
	font-style: normal;
	font-weight: bold;
	color: #444444;
}

.mobilecard label.detail{
	font-size: 100%;
	font-family: inherit;
	font-style: normal;
	color: #444444;
}

.mobilecard label.choice {
	font-size: 100%;
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	color: #444444;
}

.mobilecard input.text,.mobilecard textarea.textarea,.mobilecard input.file,.mobilecard select.select {
	font-style: normal;
	font-weight: normal;
	color: #333333;
	font-size: 100%;
}

.mobilecardPago label.desc, .mobilecardPago legend.desc {
	font-size: 95%;
	font-family: inherit;
	font-style: normal;
	font-weight: bold;
	color: #444444;
}

{
*
 
Custom
 
Fonts
 
Break
 
Dropdown
 
Selection
 
in
 
IE
 
*
}
.mobilecard input.text,.mobilecard textarea.textarea,.mobilecard input.file {
	font-family: inherit;
}

.mobilecard li div,.mobilecard li span,.mobilecard li div label,.mobilecard li span label {
	font-family: inherit;
	color: #444444;
}

.safari .mobilecard input.file { /* Webkit */
	font-size: 100%;
	font-family: inherit;
	color: #444444;
}

.mobilecard .instruct small {
	font-size: 80%;
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	color: #444444;
}

.altInstruct small,li.leftHalf small,li.rightHalf small,li.leftThird small,li.middleThird small,li.rightThird small,.iphone small
	{
	color: #444444 !important;
}

/* ----- Button Styles ----- */
.mobilecard input.btTxt {
	
}

/* ----- Highlight Styles ----- */
.mobilecard li.focused label.desc,.mobilecard li.focused legend.desc,.mobilecard li.focused div,.mobilecard li.focused span,.mobilecard li.focused div label,.mobilecard li.focused span label,.safari .mobilecard li.focused input.file
	{
	color: #000000;
}

/* ----- Confirmation ----- */
.confirm h2 {
	font-family: inherit;
	color: #444444;
}

a.powertiny b,a.powertiny em {
	color: #e6e6e6 !important;
}

.embed a.powertiny b,.embed a.powertiny em {
	color: #1a1a1a !important;
}

/* ----- Pagination ----- */
.pgStyle1 var,.pgStyle2 var,.pgStyle2 em,.page1 .pgStyle2 var,.pgStyle1 b,.mobilecard .buttons .marker
	{
	font-family: inherit;
	color: #444444;
}

.pgStyle1 var,.pgStyle2 td {
	border: 1px solid #cccccc;
}

.pgStyle1 .done var {
	background: #cccccc;
}

.pgStyle1 .selected var,.pgStyle2 var,.pgStyle2 var em {
	background: #FFF7C0;
	color: #000000;
}

.pgStyle1 .selected var {
	border: 1px solid #e6dead;
}

/* Likert Backgrounds */
.likert table {
	background-color: #ffffff;
}

.likert thead td,.likert thead th {
	background-color: #e6e6e6;
}

.likert tbody tr.alt td,.likert tbody tr.alt th {
	background-color: #f5f5f5;
}

/* Likert Borders */
.likert table,.likert th,.likert td {
	border-color: #dedede;
}

.likert td {
	border-left: 1px solid #cccccc;
}

/* Likert Typography */
.likert caption,.likert thead td,.likert tbody th label {
	color: #444444;
	font-family: inherit;
}

.likert tbody td label {
	color: #575757;
	font-family: inherit;
}

.likert caption,.likert tbody th label {
	font-size: 95%;
}

/* Likert Hover */
.likert tbody tr:hover td,.likert tbody tr:hover th,.likert tbody tr:hover label
{
	background-color: #FFF7C0;
	color: #000000;
}

.likert tbody tr:hover td {
	border-left: 1px solid #ccc69a;
}

/* ----- Running Total ----- */
.mobilecard #lola {
	background: #e6e6e6;
}

.mobilecard #lola tbody td {
	border-bottom: 1px solid #cccccc;
}

.mobilecard #lola {
	font-family: inherit;
	color: #444444;
}

.mobilecard #lola tfoot th {
	color: #696969;
}

/* ----- Report Styles ----- */
.mobilecard .wfo_graph h3 {
	font-size: 95%;
	font-family: inherit;
	color: #444444;
}

.wfo_txt,.wfo_graph h4 {
	color: #444444;
}

.mobilecard .footer h4 {
	color: #000000;
}

.mobilecard .footer span {
	color: #444444;
}

/* ----- Number Widget ----- */
.wfo_number {
	background-color: #f5f5f5;
	border-color: #dedede;
}

.wfo_number strong,.wfo_number em {
	color: #000000;
}

/* ----- Chart Widget Border and Background Colors ----- */
#widget,#widget body {
	background: #ffffff;
}

.fcNav a.show {
	background-color: #ffffff;
	border-color: #cccccc;
}

.fc table {
	border-left: 1px solid #dedede;
}

.fc thead th,.fc .more th {
	background-color: #dedede !important;
	border-right: 1px solid #cccccc !important;
}

.fc tbody td,.fc tbody th,.fc tfoot th,.fc tfoot td {
	background-color: #ffffff;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #dedede;
}

.fc tbody tr.alt td,.fc tbody tr.alt th,.fc tbody td.alt {
	background-color: #f5f5f5;
}

/* ----- Chart Widget Typography Colors ----- */
.fc caption,.fcNav,.fcNav a {
	color: #444444;
}

.fc tfoot,.fc thead th,.fc tbody th div,.fc tbody td.count,.fc .cards tbody td a,.fc td.percent var,.fc .timestamp span
	{
	color: #000000;
}

.fc .indent .count {
	color: #4b4b4b;
}

.fc .cards tbody td a span {
	color: #7d7d7d;
}

/* ----- Chart Widget Hover Colors ----- */
.fc tbody tr:hover td,.fc tbody tr:hover th,.fc tfoot tr:hover td,.fc tfoot tr:hover th
	{
	background-color: #FFF7C0;
}

.fc tbody tr:hover th div,.fc tbody tr:hover td,.fc tbody tr:hover var,.fc tfoot tr:hover th div,.fc tfoot tr:hover td,.fc tfoot tr:hover var
	{
	color: #000000;
}

/* ----- Payment Summary ----- */
.invoice thead th,.invoice tbody th,.invoice tbody td,.invoice tfoot th,.invoice .total,.invoice tfoot .last th,.invoice tfoot .last td,.invoice tfoot th,.invoice tfoot td
	{
	border-color: #dedede;
}

.invoice thead th,.mobilecard .checkNotice {
	background: #f5f5f5;
}

.invoice th,.invoice td {
	color: #000000;
}

#ppSection,#ccSection {
	border-bottom: 1px dotted #CCCCCC;
}

#shipSection,#invoiceSection {
	border-top: 1px dotted #CCCCCC;
}

/* Drop Shadows */

/* - - - Local Fonts - - - */

/* - - - Responsive - - - */
@media only screen and (max-width: 480px) {
	html {
		background-color: #ffffff;
	}
	a.powertiny b,a.powertin em {
		color: #1a1a1a !important;
	}
}

.errorMsgLbl {
	width: 100%;
	display: block !important;
	background-color: #DF0000 !important;
	margin-bottom: 3px !important;
	color: #FFFFFF !important;
	font-weight: bold !important;
	list-style:none;
	padding: 5px 0px;
	font-size: 110%;
}

/* - - - Footer Theme - - - */

.footer {
	clear: both;
	width: 700px;
	height: 4.5em;
	padding: 1px 0 0; 
	background: rgb(225, 225, 225);
	overflow: visible !important /*Firefox*/;
	overflow: hidden /*IE6*/;
}

.footer p {
	line-height: 1.1em;
	text-align: center;
	color: rgb(125, 125, 125);
	font-weight: bold;
	font-size: 80%;
}

.footer p.credits {
	font-weight: normal;
}



